@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.show {
  visibility: visible !important;
  -webkit-animation: fade-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
          animation: fade-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.hide {
  display: none;
}

.bold {
  font-weight: 700;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.self-start {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.align-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.space-even {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.grow {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.hidden {
  display: none;
}

.txt-container {
  line-height: 1.5;
}

.h100 {
  height: 100%;
}

.w100 {
  width: 100%;
}

.rotate180 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.rotate90 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.rotate0 {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.cursor-initial {
  cursor: initial;
}

.cursor-pointer {
  cursor: pointer;
}

.main-container {
  margin: 0 auto;
  max-width: 90vw;
}

@font-face {
  font-family: font1;
  src: url(../fonts/font1.ttf);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: font1;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
  background-image: linear-gradient(100deg, #f26798 0%, #3023ae 100%);
}

button,
a {
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

input {
  border: 1px solid #ECECEC;
  border-radius: 3px;
  background: -webkit-gradient(linear, left bottom, left top, from(#ececec), color-stop(68%, white));
  background: linear-gradient(0deg, #ececec 0%, white 68%);
  width: 128px;
  height: 44px;
  font-size: 20px;
  padding: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select {
  font-size: 18px;
  color: #9c9c9c;
}

input,
select {
  -webkit-transition: .3s;
  transition: .3s;
}

input:hover,
select:hover {
  -webkit-filter: brightness(0.97);
          filter: brightness(0.97);
}

.fas,
.fa {
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.fas:hover,
.fa:hover {
  color: #792c9c;
}

a {
  text-decoration: none;
  color: #f1f1f1;
}

.main-nav {
  background-color: #f1f1f1;
  height: 10vh;
  color: #333;
  border-bottom: 2px solid #b2ababfc;
  -webkit-box-shadow: 0 0 12px -3px #000000c9;
          box-shadow: 0 0 12px -3px #000000c9;
}

.main-nav .nav-action {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav .nav-action h2 {
  font-size: 15px;
  margin-bottom: 10px;
}

.main-nav .nav-action button {
  width: 80px;
  color: #9c9c9c;
  padding: 4px 0;
  border-radius: 30px;
  background-color: transparent;
  border: 1px solid #9c9c9c;
}

.main-nav .nav-action button:hover {
  border-color: #222;
  color: #222;
}

.login {
  min-height: 90vh;
}

.login-form {
  width: 400px;
  padding: 40px 25px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 8px 4px #00000024;
          box-shadow: 0 0 8px 4px #00000024;
  background-color: #f1f1f1;
}

.login-form .field-container {
  margin-bottom: 25px;
}

.login-form .field-container label {
  margin-right: 15px;
}

.login-form button {
  border: 0;
  border-radius: 30px;
  width: 100px;
  border: 2px solid #65d49a;
  background-color: transparent;
  color: #65d49a;
  padding: 5px;
  font-size: 17px;
  font-weight: 700;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.login-form button:hover {
  border-color: #db3157;
  background-color: #db3157;
  color: #ffff;
}

.user-list {
  min-height: 90vh;
  padding: 25px 0;
}

.user-list .user-list-grid {
  display: -ms-grid;
  display: grid;
  gap: 15px;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.user-list .user-preview {
  background-color: #f1f1f1;
  height: 250px;
  -webkit-box-shadow: 0 0 8px 4px #00000024;
          box-shadow: 0 0 8px 4px #00000024;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.user-list .user-preview header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 20%;
  border-bottom: 1px solid #9c9c9c;
  padding: 5px 15px;
  background-color: #e9e9e9;
}

.user-list .user-preview .user-preview-container {
  padding: 35px 15px;
  height: 80%;
}

.user-list .circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.user-list .circle.offline {
  background-color: #7a7878;
}

.user-list .circle.online {
  background-color: #06d006;
}

.user-list button {
  width: 130px;
  color: #792c9c;
  padding: 4px 0;
  border-radius: 30px;
  background-color: transparent;
  border: 1px solid #792c9c;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.user-list button:hover {
  color: #ffff;
  border-color: #db3157;
  background-color: #db3157;
}

.user-detail-modal {
  visibility: hidden;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  background-color: #f1f1f1;
  -webkit-box-shadow: 0 0 8px 4px #00000024;
          box-shadow: 0 0 8px 4px #00000024;
  border-radius: 5px;
  min-width: 400px;
  max-width: 35vw;
}

.user-detail-modal .modal-header {
  border-bottom: 1px solid grey;
  margin-bottom: 25px;
  padding: 10px;
}

.user-detail-modal .modal-header h1 {
  font-size: 24px;
}

.user-detail-modal .modal-header .close-btn {
  left: 25px;
  -webkit-transition: none;
  transition: none;
}

.user-detail-modal .user-modal-container {
  padding: 25px;
}

.user-detail-modal .user-modal-container p:first-child {
  margin-bottom: 25px;
}

.screen-wrapper {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.452);
}
/*# sourceMappingURL=main.css.map */