.login {
    min-height: 90vh;
}

.login-form {
    width: 400px;
    padding: 40px 25px;
    border-radius: 3px;
    box-shadow: $mainShadow;
    background-color: $mainWhite;

    .field-container {
        margin-bottom: 25px;

        label {
            margin-right: 15px;
        }

        input {}

    }

    button {
        border: 0;
        border-radius: 30px;
        width: 100px;
        border: 2px solid $mainGreen;
        background-color: transparent;
        color: $mainGreen;
        padding: 5px;
        font-size: 17px;
        font-weight: 700;
        align-self: flex-end;

        &:hover {
            border-color: $mainRed;
            background-color: $mainRed;
            color: #ffff;
        }
    }


}