.main-nav {
    background-color: $mainWhite;
    height: 10vh;
    color: $mainBlack;
    border-bottom: 2px solid #b2ababfc;
    box-shadow: 0 0 12px -3px #000000c9;

    .nav-action {
        align-items: center;

        h2 {
            font-size: 15px;
            margin-bottom: 10px;
        }

        button {
            @include btn(80px, $mainGrey, $mainGrey);

            &:hover {
                border-color: #222;
                color: #222;
            }
        }
    }
}