.user-list {
    min-height: 80vh;

    .user-preview {
        width: 400px;
        padding: 40px 25px;
        border-radius: 3px;
        box-shadow: 0px 0px 9px 0px #bab8b8;
        margin-bottom: 40px;

    }
}