.main-container {
  max-width: 90vw;
}

.hide {
  display: none;
}

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.self-start {
  align-self: flex-start;
}

.align-end {
  align-items: flex-end;
}

.wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.space-even {
  justify-content: space-evenly;
}

.grow {
  flex-grow: 1;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.hidden {
  display: none;
}

.txt-container {
  line-height: 1.5;
}

.h100 {
  height: 100%;
}

.w100 {
  width: 100%;
}

.rotate180 {
  transform: rotate(180deg);
}

.rotate90 {
  transform: rotate(90deg);
}

.rotate0 {
  transform: rotate(0);
}

.cursor-initial {
  cursor: initial;
}

.cursor-pointer {
  cursor: pointer;
}

.main-container {
  max-width: 1280px;
  margin: 0 auto;

  @media (max-width:1280px) {
    padding: 0 35px;
  }
}